*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #050505;
}
.cube{
    position: relative;
    width: 300px;
    height: 300px;
    left: 150px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
    z-index: 0;
}
.cube1{
    position: relative;
    width: 200px;
    height: 200px;
    top: 100px;
    left: -600px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
    z-index: -1;
}
.cube2{
    position: relative;
    width: 100px;
    height: 100px;
    top: -100px;
    left: 200px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}
.top::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #0f0;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0,255,0,0.2),
    0 0 200px rgba(0,255,0,0.4),
    0 0 300px rgba(0,255,0,0.6),
    0 0 400px rgba(0,255,0,0.8),
    0 0 500px rgba(0,255,0,1);
}
.cube1 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube1 div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#4d04a0);
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
}
.top1{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #222;
    transform: rotateX(90deg) translateZ(100px);
}
.top1::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: rgb(77, 4, 160);
    transform: translateZ(-280px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(77,4,160,0.2),
    0 0 200px rgba(77,4,160,0.4),
    0 0 300px rgba(77,4,160,0.6),
    0 0 400px rgba(77,4,160,0.8),
    0 0 500px rgba(77,4,160,1);
}
.cube2 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube2 div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#ff0000);
    transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
}
.top2{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(50px);
}
.top2::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: rgb(255, 0, 0);
    transform: translateZ(-180px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(255,0,0,0.2),
    0 0 200px rgba(255,0,0,0.4),
    0 0 300px rgba(255,0,0,0.6),
    0 0 400px rgba(255,0,0,0.8),
    0 0 500px rgba(255,0,0,1);
}
nav{
    border-bottom: 2px solid black;
    background-color: rgb(80, 75, 75);
    color: greenyellow;
    top: 0px;
    padding-top: 10px;
    padding-right:15px;
    padding-left: 15px;
    height: 60px;
    width: 100%;
    position: fixed;
    animation: blink 0.5s  0s infinite  ;
}
.brand{
    display: inline-block;
}
ul{
    float: right;
    padding: 0px 20px 0px;
}
ul li{
    display: inline-block;
    padding: 10px;
    z-index: 1;
}
.fa-bars{
    position: relative;
    font-size: 30px;
    color: transparent;
    top: 20px;
    z-index: 1;
    border-radius: 25px;
    float: right;
}
@media (max-width: 400px){
    ul li{
        display: none;
    }
    .fa-bars{
        color: greenyellow;
    }
    @keyframes blink{
        0%{color: greenyellow;}
        50%{color: transparent;}
        100%{color: greenyellow;}
    }
}