.container{
    background-color: rgb(101, 5, 131);
    display: flex;
    width: 80%;
    height: 120%;
    margin: 0 auto;
    row-gap: 10px;
    flex-direction: row;
}
.heading{
    width: 100%;
}
h1{
    text-align: center;
}
.btn{
    border-radius: 15px;
    width: 60px;
    height: 25px;
    position: relative;
    left: 10px;
}
.flex1{
    width: 50%;
    height: 120%;
    margin: 1px;
    background-color: #f1750f;
}
.flex2{
    width: 50%;
    height: 120%;
    background-color: #f1750f;
    margin: 1px;

}
.flex2 img{
    width: 100%;
    height: 600px;
}
.title{
    display: block;
    margin: 10px;
    font-size: 20px;
}
.box{
    display: block;
    width: 95%;
    margin: 5px;
}
.msg{
    display: block;
    width: 95%;
    margin: 5px;
}
@media (max-width: 800px){
    .container{
        flex-direction: column;
    }
    .flex1{
        width: 100%;
    }
    
    .flex2{
        width: 100%;
    }
}