*{
    box-sizing: border-box;
}
.container{
    background-color: rgb(101, 5, 131);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    row-gap: 5px;
    column-gap: 5px;
}
.items{
    flex: 33%;
    background-color: #f1750f;
    padding: 5px;
}
.image{
    width:100%;
}
.fa-star{
    color: gold;
}
@media (max-width: 800px){
    .container{
        flex-direction: column;
    }
}